@model ScriptAndConsumablesManagement.Data.Models.ViewModels.ScriptDetailsViewModel
@{
    Layout = "~/Views/Shared/_LayoutScripts.cshtml";
}
@if (Model != null)
{
    <style>
        .card {
            margin-bottom: 20px;
        }

        .card-title {
            font-size: 1.5rem;
        }

        .button-container button {
            margin-right: 10px;
        }

        .container {
            display: flex;
            align-items: center;
            padding: 20px;
            background-image: url('~/snake_icon.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 100vh;
        }
    </style>

    <div class="container">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">Script Details</h2>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Doctor">Doctor:</label>
                                <input type="text" class="form-control" id="Doctor" value="@Model.FirstName" readonly>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Date">Date:</label>
                                <input type="text" class="form-control" id="Date" value="@Model.Date.ToString("yyyy-MM-dd")" readonly>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="PatientName">Patient Name:</label>
                                <input type="text" class="form-control" id="PatientName" value="@Model.PatientName" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Status">Status:</label>
                                <input type="text" class="form-control" id="Status" value="@Model.Status" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Medication">Medication:</label>
                                <input type="text" class="form-control" id="Medication" value="@Model.medicationName @Model.Dosage mg" readonly>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-outline-primary" onclick="window.open('@Url.Action("PrintScript", "Scripts", new { id = Model.ScriptID })', '_blank')">Print</button>

                            <form asp-action="ReceivedScripts" method="post" style="display: inline-block;">
                                <input type="hidden" name="Id" value="@Model.ScriptID" />
                                <button class="btn btn-outline-primary" id="ShowCustomAlert" type="submit">Received</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

else
{
    <h1>Failed to load model</h1>
}